@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
     scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-graydark bg-graylight;
    /* Inter font features for better readability */
    font-feature-settings: "cv11", "ss01";
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
